*{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
 }
    
.nav{
    transition: all 2s;
}

.nav:hover{
   color: #343f31; 
   font-size: large;
}

h4{
    font-size: larger;
}

a{
    color: rgb(95, 119, 53)
 }

button:hover{
    background-color: rgb(196, 217, 159); 
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li a {
    display: block;
    text-align: center;
    padding: 0.5rem;


}
li {
    float:left;
    border-right: 1px solid black;
}


#box1{
    text-align: center;
}

#section1{
    display: flex;
    justify-content: space-evenly;

}